@import "../../../../../../node_modules/vebto-client/scss/variables";
@import '../../../../../../node_modules/@angular/material/theming';

frame-drawer {
  display: block;

  .frame-controls {
    flex-direction: column;
  }

  .button-with-image {
    position: relative;

    img {
      border-radius: 4px;
      width: 65px;
      height: 65px;
    }

    .bottom-label {
      margin-top: 3px;
      font-size: 1.1rem;
    }
  }

  @media only screen and (max-width: $tablet) {
    &.controls-drawer .main-content {
      justify-content: flex-start;
    }

    .frame-controls {
      padding: 0 15px;
    }
  }
}