@import "~vebto-client/scss/variables";
@import '~@angular/material/theming';

text-controls-drawer {
  display: block;
  height: 100%;

  form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .selected {
    color: $site-accent-color;
  }
}